$main-color: #2D9275;

.headerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 2%;
  height: 10vh;

  .anchor{height: 4%; width: 4%; margin-top: -8vh }

  .links{
    display: flex;
    justify-content: flex-end;
    width: 50%;

    .link{
      font-family: MullerRegular;
      font-size: 20px;
      color: black;
      text-decoration: none;
      margin-right: 8%;
    }

    .link:hover{
      margin-bottom: -3px;
      border-bottom: 3px solid $main-color;
    }

    .logLink{
      font-size: 20px;
      font-family: MullerRegular;
      margin-right: 4%;
      text-decoration: none;
      color:white;
      border-radius: 10px;
      margin-top: -0.5%;
      padding: 5px 10px 7px 10px;
      border:1px solid $main-color;
      background-color: $main-color;
    }

    button:hover{
      cursor: pointer;
      color: $main-color;
      background-color: white;
    }

    .regLink{
      color: black;
      font-size: 20px;
      font-family: MullerRegular;
      margin-right: 4%;
      text-decoration: none;
    }

    .regLink:hover{
      margin-bottom: -3px;
      border-bottom: 3px solid $main-color;
    }
  }
}

.userName{
  font-family: MullerRegular;
  font-size: 20px;
  color: $main-color;
  text-decoration: none;
  margin-right: 8%;
}

.userName:hover{
  margin-bottom: -3px;
  border-bottom: 3px solid #444444;
}