$main-color: #2D9275;

.mainWrapper{
  height: 200vh;
  margin: 0 2%;

  .slogan{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
    height:100vh;
    background-repeat: no-repeat;
    background-image: url("../../imgs/main_page_image.svg");
    background-size: cover;
    background-position: right;

    .mainPageButton{
      border-radius: 10px;
      width: fit-content;
      padding: 10px;
      font-size: 20px;
      background-color: #2D9275;
      color: white;
      text-decoration: none;
      border: 1px solid transparent;
    }

    .mainPageButton:hover{
      color: $main-color;
      background-color: white;
      border: 1px solid $main-color;
    }

    p{
      font-size: 70px;
      color: #444444;
      font-family: MullerMedium;
      margin: auto 0;
    }
  }
}

.infoWrapper{
  h3{font-size: 35px; font-family: "MullerMedium"}
  .howItWorks{
    ul.descriptionNumerator{
      font-size: 70px;
      font-family: "MullerLight";
      padding-left: 20px;
      margin-bottom: -3vh;
      list-style-type: none;
      display: flex;
      justify-content: space-between;

      li{z-index: 0; width: 15vw; text-align: start;}
    }

    ul.descriptions{
      padding-left: 0;
      display: flex;
      flex-direction: row;
      list-style-type: none;
      justify-content: space-between;

      li{
        z-index: -1;
        font-size: 2vh;
        font-family: "MullerLight";
        color: white;
        padding: 40px 20px 0px 20px;
        width: 14vw;
        background-color: $main-color;
        border-radius: 10px;
        height: 16vh;
      }
    }
  }
}

.dutiesBlock{
  margin-top: 6vh;
  border-radius:10px;
  border:2px solid #444444;

  h3{
    color: $main-color;
    margin-left: 1vw;
    font-size: 4vh;
  }

  .duties{
    background-image: url("../../imgs/duties_image.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

    ul{
      margin-bottom: 6vh;


      li{
        font-family: MullerRegular;
        font-size:3vh;
        margin-bottom: 2vh;
        list-style-image: url("../../imgs/list_squares.svg");}
    }
  }
}