.footerWrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 2%;
  align-items: center;

  p{
    font-size: 20px;
    font-family: MullerRegular;
    margin-right: auto;
  }

  .siteLogo:hover{
      content: url("../../imgs/urfulogo.png");
      height: 6vh;
      width: 6vh;
    padding-right: 0.38vw;
  }

  .socialLinks{
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
  }

  .anchor{width:2vw; height: 2vh; margin-right: 10px; margin-bottom: 12%}

  img:hover{opacity: 0.5}
}