.footerWrapper{

  width: 98%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: bottom;
  margin: 0 1%;
  .images{padding-right: -50px ;margin-right: -50%; img{padding-right: -50px}}

  div{border:1px solid black}
}