$main-color: #2D9275;

.createFormWrapper{

  font-family: MullerRegular;
  width:14vw;
  min-height: 12vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid $main-color;
  border-radius: 10px;
  span{
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
  }

  input{
    margin-bottom: 1.5vh;
  }

  button{
    font-family: MullerRegular;
  }
}