.OfficeWrapper{
  min-height:83vh;
  margin-top:-2vh;
  display: flex;
  justify-content: center;
  background-image: url("../../imgs/man_image.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
}