$main-color: #2D9275;

.formWrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 83vh;

  .loginForm{
    width: 25vw;
    height: 50vh;
    border:2px solid #444444;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .mailInput{
      margin-bottom: 2vh;
    }

    h3{
      font-family: "MullerMedium";
      border-bottom: 1px solid black;
      font-size: 2.5vh;
      margin-top: 0;
      margin-bottom: 3vh;
      color: #444444;
    }

    p{
      font-family: "MullerRegular";
      font-size: 2vh;
      align-self: start;
      margin-left: 2.3vw;

      :nth-last-child(1){color: red}
    }

    input{
      width: 20vw;
      height: 3vh;
      border:1px solid #444444;
      border-radius: 5px;
    }

    button{
      font-family: "MullerRegular";
      font-size: 2vh;
      color: white;
      background-color: $main-color;
      border:1px solid $main-color;
      border-radius: 5px;
      width:5.5vw;
      height: 3.5vh;
      margin-top: 4vh;
    }

    button:hover{
      color: $main-color;
      background-color: white;
      cursor: pointer;
    }
  }
}

.socialMedias{
  height: 9vh;
  border: 2px solid #444444;
  border-radius: 10px;
  width: 25vw;
  margin-top:4vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  img{
    cursor: pointer;
    padding: 1px;
    border-radius: 10px;
    width: 4vw;
  }
}
