$main-color: #2D9275;

.formWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 83vh;

  .loginForm{
    width: 25vw;
    height: 50vh;
    border:2px solid #444444;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .mailInput{
      margin-bottom: 2vh;
    }

    h3{
      font-family: "MullerMedium";
      border-bottom: 1px solid black;
      font-size: 2vh;
      margin-top: -4vh;
      margin-bottom: 6vh;
      color: #444444;
    }

    p{
      font-family: "MullerLight";
      font-size: 1.5vh;
      align-self: start;
      margin-left: 2.3vw;

      :nth-last-child(1){color: red}
    }

    input{
      width: 20vw;
      height: 3vh;
      border:1px solid #444444;
      border-radius: 5px;
    }

    button{
      font-family: "MullerLight";
      font-size: 1.5vh;
      color: white;
      background-color: $main-color;
      border:1px solid $main-color;
      border-radius: 5px;
      width:5vw;
      height: 3vh;
      margin-top: 4vh;
    }

    button:hover{
      color: $main-color;
      background-color: white;
    }

    .socialMedias{
      width: 25vw;
      margin-top:4vh;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      img{
        cursor: pointer;
        padding: 5px;
        background-color: $main-color;
        border-radius: 10px;
      }
    }
  }
}

