$main-color: #2D9275;

.formWrapper {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 83vh;

  .regForm {
    width: 30vw;
    height: 60vh;
    border: 2px solid #C9C9C9;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
      font-family: MullerRegular;
      font-size: 2.5vh;
      border-bottom: 2px solid #C9C9C9;
      margin-top: -1.8vh;
      margin-bottom: 0vh;
      padding-left: 5.1vw;
      padding-right: 5.1vw;
      padding-bottom: 2vh;
    }

    p {
      font-family: MullerRegular;
      font-size: 2vh;
      margin-left: 6vw;
      align-self: start;

      span {
        color: red;
      }
    }

    button {
      border: 1px solid $main-color;
      border-radius: 5px;
      padding: 1vh 1vw;
      font-family: MullerRegular;
      font-size: 2vh;
      color: white;
      background-color: $main-color;
    }

    button:hover {
      cursor: pointer;
      color: $main-color;
      background-color: white;
    }

    input {
      border: 2px solid #C9C9C9;
      border-radius: 5px;
      width: 18vw;
      height: 3vh;
      margin-bottom: 1vh;
    }

    input.lastInput {
      margin-bottom: 5vh;
    }
  }
}

h3{
  font-family: "MullerRegular";
  margin-bottom: -1vh;
  color: $main-color;
  color:black;
}

.socialMedias{
  height: 6vh;
  border: 2px solid #C9C9C9;
  border-radius: 10px;
  width: 25vw;
  margin-top:4vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  img{
    cursor: pointer;
    padding: 7px;
    border-radius: 10px;
    width: 4vw;
  }
}